body {
  margin: 0;
  background-color: #333;
}

.gameboard {
  background-color: #222;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: auto;
  margin: auto;
  max-width: 1200px;

  .cell {
    align-self: center;
    background-color: #eee;
    display: grid;
    justify-self: center;
    width: 100px;
    height: 100px;
    margin: 25px;
    text-align: center;
    font-size: 100px;
    line-height: 100px;

    &.active {
      background-color: #000;
      color: #fff;
    }
  }
}

.options {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 100px;
  justify-content: center;
  margin-top: 50px;
  width: 1000px;
  outline: solid #000;

  .difficulty {
    width: 50%;
    text-align: center;
  }
  .instructions {
    width: 50%;
    text-align: center;
  }
}
