body {
  margin: 0;
}

.gameboard {
  background-color: #ddd;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  height: 800px;
  margin: auto;
  width: 1200px;
}

.cell {
  align-self: center;
  display: grid;
  justify-self: center;
  width: 100px;
  height: 100px;
}
.cell.active {
  background-color: #ccc;
}
